-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: api_auth
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `userNameAD` varchar(255) NOT NULL,
  `passwordAD` varchar(255) NOT NULL,
  `roleID` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `admins_usernamead_unique` (`userNameAD`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin','$2y$12$6Ca0587CBhD7XoDLBJzwVeohxTfO7/5a.c03W0u/vlIIwUL6A7dVq',1,'2025-02-24 01:16:18','2025-02-24 01:16:18');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitietdonhang`
--

DROP TABLE IF EXISTS `chitietdonhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chitietdonhang` (
  `id_chiTietDonHang` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_donHang` bigint(20) unsigned NOT NULL,
  `id_sanPham` bigint(20) unsigned NOT NULL,
  `variation_id` bigint(20) unsigned DEFAULT NULL,
  `soLuong` int(11) NOT NULL DEFAULT 1,
  `gia` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_chiTietDonHang`),
  KEY `chitietdonhang_id_donhang_foreign` (`id_donHang`),
  KEY `chitietdonhang_id_sanpham_foreign` (`id_sanPham`),
  KEY `chitietdonhang_variation_id_foreign` (`variation_id`),
  CONSTRAINT `chitietdonhang_id_donhang_foreign` FOREIGN KEY (`id_donHang`) REFERENCES `donhang` (`id_donHang`) ON DELETE CASCADE,
  CONSTRAINT `chitietdonhang_id_sanpham_foreign` FOREIGN KEY (`id_sanPham`) REFERENCES `products` (`id_sanPham`) ON DELETE CASCADE,
  CONSTRAINT `chitietdonhang_variation_id_foreign` FOREIGN KEY (`variation_id`) REFERENCES `product_variations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietdonhang`
--

LOCK TABLES `chitietdonhang` WRITE;
/*!40000 ALTER TABLE `chitietdonhang` DISABLE KEYS */;
/*!40000 ALTER TABLE `chitietdonhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danhmuc`
--

DROP TABLE IF EXISTS `danhmuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danhmuc` (
  `id_danhMuc` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tenDanhMuc` varchar(255) NOT NULL,
  `moTa` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_danhMuc`),
  UNIQUE KEY `danhmuc_tendanhmuc_unique` (`tenDanhMuc`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danhmuc`
--

LOCK TABLES `danhmuc` WRITE;
/*!40000 ALTER TABLE `danhmuc` DISABLE KEYS */;
INSERT INTO `danhmuc` VALUES (2,'Trang phß╗Ñc cho b├⌐','Trang phß╗Ñc cho b├⌐ vß╗¢i nhiß╗üu kiß╗âu d├íng v├á mß║½u m├á c├íc loß║íi','2025-02-27 12:04:28','2025-04-05 03:18:22'),(3,'─Éß╗ô l├│t nam nß╗»','├ío d├ái ─æß║╣p','2025-02-27 12:29:45','2025-04-05 03:17:48'),(5,'V├íy lß╗Ña mß╗¢i nhß║Ñt','V├íy lß╗Ña v├á nhiß╗üu loß║íi v├íy c├│ kiß╗âu d├íng ph├╣ hß╗úp cho trß║╗ em g├íi v├á phß╗Ñ nß╗»','2025-03-13 08:46:25','2025-04-05 03:16:43'),(6,'├üo Thun Basic','├üo thun vß╗¢i chß║Ñt liß╗çu cao cß║Ñp nhiß╗üu mß║½u m├ú.','2025-04-02 15:45:12','2025-04-05 06:45:30');
/*!40000 ALTER TABLE `danhmuc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `diachi`
--

DROP TABLE IF EXISTS `diachi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diachi` (
  `id_diaChi` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_nguoiDung` bigint(20) unsigned NOT NULL,
  `sdt_nhanHang` varchar(255) NOT NULL,
  `ten_nguoiNhan` varchar(255) NOT NULL,
  `ten_nha` varchar(255) NOT NULL,
  `tinh` varchar(255) NOT NULL,
  `huyen` varchar(255) NOT NULL,
  `xa` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_diaChi`),
  KEY `diachi_id_nguoidung_foreign` (`id_nguoiDung`),
  CONSTRAINT `diachi_id_nguoidung_foreign` FOREIGN KEY (`id_nguoiDung`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diachi`
--

LOCK TABLES `diachi` WRITE;
/*!40000 ALTER TABLE `diachi` DISABLE KEYS */;
/*!40000 ALTER TABLE `diachi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `donhang`
--

DROP TABLE IF EXISTS `donhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `donhang` (
  `id_donHang` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_nguoiDung` bigint(20) unsigned NOT NULL,
  `ten_nguoiNhan` varchar(255) NOT NULL,
  `sdt_nhanHang` varchar(255) NOT NULL,
  `ten_nha` varchar(255) NOT NULL,
  `tinh` varchar(255) NOT NULL,
  `huyen` varchar(255) NOT NULL,
  `xa` varchar(255) NOT NULL,
  `tongTien` decimal(10,2) NOT NULL DEFAULT 0.00,
  `phuongThucThanhToan` varchar(255) DEFAULT NULL,
  `trangThaiDonHang` enum('cho_xac_nhan','dang_giao','da_giao','huy') NOT NULL DEFAULT 'cho_xac_nhan',
  `ngay_du_kien_giao` timestamp NULL DEFAULT NULL,
  `ngay_giao_thuc_te` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `voucher_id` bigint(20) unsigned DEFAULT NULL,
  `discount_amount` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id_donHang`),
  KEY `donhang_id_nguoidung_foreign` (`id_nguoiDung`),
  KEY `donhang_voucher_id_foreign` (`voucher_id`),
  CONSTRAINT `donhang_id_nguoidung_foreign` FOREIGN KEY (`id_nguoiDung`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `donhang_voucher_id_foreign` FOREIGN KEY (`voucher_id`) REFERENCES `vouchers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `donhang`
--

LOCK TABLES `donhang` WRITE;
/*!40000 ALTER TABLE `donhang` DISABLE KEYS */;
/*!40000 ALTER TABLE `donhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id_nhanVien` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tenNhanVien` varchar(255) NOT NULL COMMENT 'T├¬n nh├ón vi├¬n',
  `tuoi` int(11) NOT NULL COMMENT 'Tuß╗òi',
  `diaChi` varchar(255) NOT NULL COMMENT '─Éß╗ïa chß╗ë',
  `tenTaiKhoan` varchar(255) NOT NULL COMMENT 'T├¬n t├ái khoß║ún',
  `matKhau` varchar(255) NOT NULL COMMENT 'Mß║¡t khß║⌐u',
  `trangThai` enum('active','inactive') NOT NULL DEFAULT 'active' COMMENT 'Trß║íng th├íi',
  `id_admin` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_nhanVien`),
  UNIQUE KEY `employees_tentaikhoan_unique` (`tenTaiKhoan`),
  KEY `employees_id_admin_foreign` (`id_admin`),
  CONSTRAINT `employees_id_admin_foreign` FOREIGN KEY (`id_admin`) REFERENCES `admins` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
INSERT INTO `employees` VALUES (1,'Trß║ºn V─ân H├╣ng',28,'H├á Nß╗Öi','tranvanhung','$2y$12$RGNXU1ZS69LsawvgSC0wS.72rX3/Dt9bn1is/Ny/MxDYXOs0LIMci','inactive',1,'2025-04-04 21:12:39','2025-05-03 12:09:33'),(2,'Vu Tuß║Ñn Long',21,'H├á Nß╗Öi','long@gmail.com','$2y$12$WvpfkFPmcbJbHICj03f4TO7o5GKos.X7PGkvN46FupvEHSNjsM8FG','active',1,'2025-05-03 12:05:04','2025-05-03 12:05:04');
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favorite_products`
--

DROP TABLE IF EXISTS `favorite_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favorite_products` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `product_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `favorite_products_user_id_product_id_unique` (`user_id`,`product_id`),
  KEY `favorite_products_product_id_foreign` (`product_id`),
  CONSTRAINT `favorite_products_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id_sanPham`) ON DELETE CASCADE,
  CONSTRAINT `favorite_products_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorite_products`
--

LOCK TABLES `favorite_products` WRITE;
/*!40000 ALTER TABLE `favorite_products` DISABLE KEYS */;
INSERT INTO `favorite_products` VALUES (5,14,12,'2025-04-05 04:52:25','2025-04-05 04:52:25'),(8,34,12,'2025-04-05 11:16:04','2025-04-05 11:16:04'),(11,14,10,'2025-04-12 08:05:40','2025-04-12 08:05:40'),(12,20,12,'2025-05-03 15:01:12','2025-05-03 15:01:12');
/*!40000 ALTER TABLE `favorite_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `giohang`
--

DROP TABLE IF EXISTS `giohang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `giohang` (
  `id_gioHang` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_nguoiDung` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_gioHang`),
  KEY `giohang_id_nguoidung_foreign` (`id_nguoiDung`),
  CONSTRAINT `giohang_id_nguoidung_foreign` FOREIGN KEY (`id_nguoiDung`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `giohang`
--

LOCK TABLES `giohang` WRITE;
/*!40000 ALTER TABLE `giohang` DISABLE KEYS */;
/*!40000 ALTER TABLE `giohang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mess`
--

DROP TABLE IF EXISTS `mess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mess` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sender_type` varchar(255) NOT NULL,
  `sender_id` bigint(20) unsigned NOT NULL,
  `receiver_type` varchar(255) NOT NULL,
  `receiver_id` bigint(20) unsigned NOT NULL,
  `content` text NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mess_sender_type_sender_id_index` (`sender_type`,`sender_id`),
  KEY `mess_receiver_type_receiver_id_index` (`receiver_type`,`receiver_id`)
) ENGINE=InnoDB AUTO_INCREMENT=112 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mess`
--

LOCK TABLES `mess` WRITE;
/*!40000 ALTER TABLE `mess` DISABLE KEYS */;
/*!40000 ALTER TABLE `mess` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mucgiohang`
--

DROP TABLE IF EXISTS `mucgiohang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mucgiohang` (
  `id_mucGioHang` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_gioHang` bigint(20) unsigned NOT NULL,
  `id_sanPham` bigint(20) unsigned NOT NULL,
  `variation_id` bigint(20) unsigned DEFAULT NULL,
  `soLuong` int(11) NOT NULL DEFAULT 1,
  `gia` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_mucGioHang`),
  KEY `mucgiohang_id_giohang_foreign` (`id_gioHang`),
  KEY `mucgiohang_id_sanpham_foreign` (`id_sanPham`),
  KEY `mucgiohang_variation_id_foreign` (`variation_id`),
  CONSTRAINT `mucgiohang_id_giohang_foreign` FOREIGN KEY (`id_gioHang`) REFERENCES `giohang` (`id_gioHang`) ON DELETE CASCADE,
  CONSTRAINT `mucgiohang_id_sanpham_foreign` FOREIGN KEY (`id_sanPham`) REFERENCES `products` (`id_sanPham`) ON DELETE CASCADE,
  CONSTRAINT `mucgiohang_variation_id_foreign` FOREIGN KEY (`variation_id`) REFERENCES `product_variations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mucgiohang`
--

LOCK TABLES `mucgiohang` WRITE;
/*!40000 ALTER TABLE `mucgiohang` DISABLE KEYS */;
INSERT INTO `mucgiohang` VALUES (124,4,12,10,1,80000.00,'2025-04-14 08:06:15','2025-04-14 08:06:15'),(125,8,12,10,3,80000.00,'2025-05-03 15:01:17','2025-05-03 15:01:17');
/*!40000 ALTER TABLE `mucgiohang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_user`
--

LOCK TABLES `order_status_history` WRITE;
/*!40000 ALTER TABLE `order_status_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB AUTO_INCREMENT=475 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--
DROP TABLE IF EXISTS `notification_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification_user` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `notification_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notification_user_notification_id_foreign` (`notification_id`),
  KEY `notification_user_user_id_foreign` (`user_id`),
  CONSTRAINT `notification_user_notification_id_foreign` FOREIGN KEY (`notification_id`) REFERENCES `notifications` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notification_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_user`
--

LOCK TABLES `notification_user` WRITE;
/*!40000 ALTER TABLE `notification_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'Cß║¡p nhß║¡t lß╗¢n','HIß╗ân thß╗ï cß║¡p nhß║¡t to├án giao diß╗çn','2025-04-05 02:05:15','2025-04-05 02:05:15');
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_status_histories`
--

DROP TABLE IF EXISTS `order_status_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_status_histories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_donHang` bigint(20) unsigned NOT NULL,
  `trangThaiDonHang` enum('cho_xac_nhan','dang_giao','da_giao') NOT NULL,
  `ngay_cap_nhat` timestamp NOT NULL DEFAULT current_timestamp(),
  `ghiChu` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_status_histories_id_donhang_foreign` (`id_donHang`),
  CONSTRAINT `order_status_histories_id_donhang_foreign` FOREIGN KEY (`id_donHang`) REFERENCES `donhang` (`id_donHang`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_status_histories`
--

LOCK TABLES `order_status_histories` WRITE;
/*!40000 ALTER TABLE `order_status_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_status_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_status_history`
--

DROP TABLE IF EXISTS `order_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_status_history` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_donHang` bigint(20) unsigned NOT NULL,
  `trangThaiDonHang` varchar(255) NOT NULL,
  `ngayThayDoi` timestamp NOT NULL DEFAULT current_timestamp(),
  `ghiChu` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_status_history_id_donhang_foreign` (`id_donHang`),
  CONSTRAINT `order_status_history_id_donhang_foreign` FOREIGN KEY (`id_donHang`) REFERENCES `donhang` (`id_donHang`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_status_history`
--


LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_variation_images`
--

DROP TABLE IF EXISTS `product_variation_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_variation_images` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `product_variation_id` bigint(20) unsigned NOT NULL,
  `image_url` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `product_variation_images_product_variation_id_foreign` (`product_variation_id`),
  CONSTRAINT `product_variation_images_product_variation_id_foreign` FOREIGN KEY (`product_variation_id`) REFERENCES `product_variations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_variation_images`
--

LOCK TABLES `product_variation_images` WRITE;
/*!40000 ALTER TABLE `product_variation_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_variation_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_variations`
--

DROP TABLE IF EXISTS `product_variations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_variations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `product_id` bigint(20) unsigned NOT NULL,
  `color` varchar(255) DEFAULT NULL,
  `size` varchar(255) DEFAULT NULL,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `stock` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `product_variations_product_id_foreign` (`product_id`),
  CONSTRAINT `product_variations_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id_sanPham`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_variations`
--

LOCK TABLES `product_variations` WRITE;
/*!40000 ALTER TABLE `product_variations` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_variations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id_sanPham` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_danhMuc` bigint(20) unsigned NOT NULL,
  `tenSanPham` varchar(255) NOT NULL,
  `thuongHieu` varchar(255) NOT NULL,
  `gia` decimal(10,2) NOT NULL DEFAULT 0.00,
  `urlHinhAnh` varchar(255) DEFAULT NULL,
  `moTa` text DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `trangThai` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `soLuongBan` int(11) NOT NULL DEFAULT 0,
  `soSaoDanhGia` decimal(3,1) NOT NULL DEFAULT 0.0,
  PRIMARY KEY (`id_sanPham`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reviews` (
  `id_danhGia` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_nguoiDung` bigint(20) unsigned NOT NULL,
  `id_sanPham` bigint(20) unsigned NOT NULL,
  `id_donHang` bigint(20) unsigned NOT NULL,
  `variation_id` bigint(20) unsigned DEFAULT NULL,
  `soSao` int(10) unsigned NOT NULL,
  `binhLuan` text DEFAULT NULL,
  `urlHinhAnh` varchar(255) DEFAULT NULL,
  `trangThai` varchar(255) NOT NULL DEFAULT 'pending',
  `ngayDanhGia` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_danhGia`),
  KEY `reviews_id_nguoidung_foreign` (`id_nguoiDung`),
  KEY `reviews_id_sanpham_foreign` (`id_sanPham`),
  KEY `reviews_id_donhang_foreign` (`id_donHang`),
  KEY `reviews_variation_id_foreign` (`variation_id`),
  CONSTRAINT `reviews_id_donhang_foreign` FOREIGN KEY (`id_donHang`) REFERENCES `donhang` (`id_donHang`) ON DELETE CASCADE,
  CONSTRAINT `reviews_id_nguoidung_foreign` FOREIGN KEY (`id_nguoiDung`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `reviews_id_sanpham_foreign` FOREIGN KEY (`id_sanPham`) REFERENCES `products` (`id_sanPham`) ON DELETE CASCADE,
  CONSTRAINT `reviews_variation_id_foreign` FOREIGN KEY (`variation_id`) REFERENCES `product_variations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `san_phams`
--

DROP TABLE IF EXISTS `san_phams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `san_phams` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `san_phams`
--

LOCK TABLES `san_phams` WRITE;
/*!40000 ALTER TABLE `san_phams` DISABLE KEYS */;
/*!40000 ALTER TABLE `san_phams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thanhtoan`
--

DROP TABLE IF EXISTS `thanhtoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thanhtoan` (
  `id_thanhToan` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_donHang` bigint(20) unsigned NOT NULL,
  `soTien` decimal(10,2) NOT NULL,
  `phuongThucThanhToan` enum('COD','VN_PAY') NOT NULL DEFAULT 'COD',
  `qr_code` text DEFAULT NULL,
  `trangThaiThanhToan` enum('pending','success','failed') NOT NULL DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_thanhToan`),
  KEY `thanhtoan_id_donhang_foreign` (`id_donHang`),
  CONSTRAINT `thanhtoan_id_donhang_foreign` FOREIGN KEY (`id_donHang`) REFERENCES `donhang` (`id_donHang`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=76 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thanhtoan`
--

LOCK TABLES `thanhtoan` WRITE;
/*!40000 ALTER TABLE `thanhtoan` DISABLE KEYS */;
/*!40000 ALTER TABLE `thanhtoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_voucher_usage`
--

DROP TABLE IF EXISTS `user_voucher_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_voucher_usage` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `voucher_id` bigint(20) unsigned NOT NULL,
  `used_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `order_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_voucher_usage_user_id_voucher_id_unique` (`user_id`,`voucher_id`),
  KEY `user_voucher_usage_voucher_id_foreign` (`voucher_id`),
  KEY `user_voucher_usage_order_id_foreign` (`order_id`),
  CONSTRAINT `user_voucher_usage_order_id_foreign` FOREIGN KEY (`order_id`) REFERENCES `donhang` (`id_donHang`) ON DELETE CASCADE,
  CONSTRAINT `user_voucher_usage_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_voucher_usage_voucher_id_foreign` FOREIGN KEY (`voucher_id`) REFERENCES `vouchers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_voucher_usage`
--

LOCK TABLES `user_voucher_usage` WRITE;
/*!40000 ALTER TABLE `user_voucher_usage` DISABLE KEYS */;
INSERT INTO `user_voucher_usage` VALUES (1,14,1,'2025-04-14 01:43:13',68,'2025-04-13 18:43:13','2025-04-13 18:43:13'),(2,14,2,'2025-04-14 08:06:05',90,'2025-04-14 08:06:05','2025-04-14 08:06:05');
/*!40000 ALTER TABLE `user_voucher_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `tuoi` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vouchers`
--

DROP TABLE IF EXISTS `vouchers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vouchers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(255) NOT NULL,
  `discount_value` decimal(10,2) NOT NULL,
  `discount_type` enum('fixed','percentage') NOT NULL,
  `min_order_value` decimal(10,2) DEFAULT NULL,
  `max_discount` decimal(10,2) DEFAULT NULL,
  `start_date` timestamp NULL DEFAULT NULL,
  `end_date` timestamp NULL DEFAULT NULL,
  `usage_limit` int(11) DEFAULT NULL,
  `used_count` int(11) NOT NULL DEFAULT 0,
  `status` enum('active','inactive','expired') NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vouchers_code_unique` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vouchers`
--

LOCK TABLES `vouchers` WRITE;
/*!40000 ALTER TABLE `vouchers` DISABLE KEYS */;
INSERT INTO `vouchers` VALUES (1,'30T4',20.00,'percentage',300000.00,500000.00,'2025-04-13 05:12:00','2025-04-29 20:20:00',1,1,'active','2025-04-13 15:18:55','2025-04-13 18:43:13'),(2,'1T5',15.00,'percentage',100000.00,500000.00,'2025-04-09 17:12:00','2025-05-10 05:12:00',1,1,'active','2025-04-14 08:01:53','2025-04-23 20:12:16'),(3,'5/5 si├¬u sale',10.00,'percentage',150000.00,300000.00,'2025-05-02 05:00:00','2025-05-16 05:00:00',1,0,'active','2025-05-03 12:08:23','2025-05-03 12:08:23');
/*!40000 ALTER TABLE `vouchers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-04 12:49:51
